<li class="aha_li" style="display: none" id="aha_<%= aha_var.id %>">
  <%= aha_var.note %>
  <%= link_to image_tag('trash-can-icon.jpg', :size => '20x20'), aha_url(aha_var.id), :method => 'delete', :remote => true %>
  <%= link_to image_tag('pencil.png', :size => '20x20'), edit_aha_url(aha_var.id), :remote => true %>
</li>